<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lkondilidis.smartlearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>
        <activity android:name=".activities.MessageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Appointment_List_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LectureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.PopUpActivity"
            android:theme="@style/AppTheme.PopUpActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>